<article class="blog">
  <div class="title">
    <a href="{{tech_body}}" target="_blank">{{tech_title}}</a>
    <span>({{format_url tech_body}})</span>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>